h1 {
    color:darkred;
}

label {
    font-weight: bold;
    font-style: italic;
}

.jumbotron {
    min-height: 10vh;
    padding: 2rem 2rem;
}

.msg_email {
    font-weight: bold;
    color: blue;
}

.msg_date {
    color:brown;
}

.msg_texto {
    font-style: italic;
    color: green;
}
